body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.calculadora {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1.2em;
    text-align: center;
}

select, button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin: 10px 0;
    cursor: pointer;
}

.resultado {
    font-weight: bold;
}

.resultado.vermelho {
    background-color: red;
    color: white;
}

.resultado.verde {
    background-color: green;
    color: white;
}

.resultado.cinza {
    background-color: gray;
    color: white;
}
