.pri {
    background-color: aqua;
}

.seg {
    background-color: gray;
}

.terc {
    background-color: gray;
}

.container {
    display: block;
    border:solid 5px;
    border-radius: 10px;
    border-color: black;
}

.conteudo {
    display: flex;
    padding: 20% 30% 30% 40%;
}

fieldset {
    border:none;
}